/*Css cho các thẻ*/
body {
    /*background-color: #fdf9fc;*/
    background: url('/Images/bg-line-vert.png')  #fdf9fc;
}

/*Căn lề*/
.al-center {
    text-align: center;
}

/*Bo cạnh*/
.b-radius-5{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
b-radius-10{
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
/*Màu nền chuẩn Bootstrap*/
.bg-primary {
    background-color: #428bca; 
}
.bg-info{
    background-color: #5bc0de;
}
.bg-warning{
    background-color: #f0ad4e; 
}
.bg-danger{
    background-color:#d9534f;
}
.bg-success{
    background-color:#5cb85c;
}
.bg-violet{
     background-color:RGB(130,77,162);
}
/*Màu nền custom*/
.bg-wb{
    background-color:#f7f9fa;
}
.bg-white {
    background-color: white;
}
/*Font */
.fnt-sub {
    font-family: 'Arial';
}
.fnt-arial {
    font-family: Arial;
}
/*Css cho id*/
#div-shop-name {
    text-align: center;
    margin: 0px;
}
#shop-name {
    font-family: 'Arial';
    font-size: 100px;
    font-weight: bold;
    color: RGB(255,16,99);
}
#m-div {
    margin: 30px 50px;
    background-color: white;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    padding: 30px 70px;
}
#m {
    padding: 0px 0px;
}
#main {
    background-color: #fbf0fa;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#menu {
    font-family: 'Arial';
    background-color: white;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
/*Màu chữ*/
.c-pri{
    color:#428bca;
}
.c-suc{
    color:#5cb85c;
}
.c-inf{
    color:#5bc0de;
}
.c-war{
    color:#f0ad4e;
}
.c-dan{
    color:#d9534f;
}
.c-w{
    color:white;
}
.c-violet{
    color:RGB(130,77,162);
}

/*Cỡ chữ*/
.f-l {
    font-size: 50px;
}

.f-s {
    font-size: 20px;
}

.f-xs {
    font-size: 15px;
}

.f-m {
    font-size: 30px;
}

.f-xm {
    font-size: 40px;
}
.f-xl {
    font-size: 80px;
}

/*Trang trí font*/
.bold {
    font-weight: bold;
}

/*Sự kiện hover*/
a:hover {
    text-decoration: none;
    color:#5bc0de;
}

/*Dãn cách*/
.mg-30 {
    margin: 30px 30px;
}
.mg-10 {
    margin: 10px 10px;
}
.mg-5 {
    margin: 5px 5px;
}
.mg-t-10 {
    margin-top: 10px;
}
.mg-t-70 {
    margin-top: 70px;
}
.mg-1{
    margin: 1px 1px;
}
.mg-l-30-10{
    margin:10px 10px 10px 30px;
}
.mg-t-150{
    margin-top: 150px;
}
/*Text decoration*/