@model Laptop.Cart

@{
    ViewBag.Title = "OrderFail";
    Layout = "~/Views/Layout/CustomLayout.cshtml";
}

<div class="single_top">
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h2 class="c-w">Đặt hàng không thành công</h2>
        </div>
        <div class="panel-body">
            <div class="row mg-30">
                <p>
                    @Model.Product.productName hiện tại chỉ còn @Model.Product.quantity sản phẩm không đủ đáp ứng cho quý khách mong quý khách thông cảm.
                </p>
            </div>
            <div class="row mg-30">
                <div class="col-md-4 col-md-offset-4">
                    @Html.ActionLink("Quay về giỏ hàng", "Index", "Shopping", null, new { @class = "btn btn-block btn-warning" })
                </div>
            </div>
        </div>
    </div>
</div>
