@*<li>
    @Html.ActionLink("(" + ViewData["CartCount"] + ")", "Index", "Shopping", 
    new { @class = "c-w glyphicon glyphicon-shopping-cart", id = "cart-status" })
</li>*@
<div class="cart"><a id="cart-status" href="~/Shopping/Index"><span> </span><label>CART(@ViewData["CartCount"])</label></a></div>

