@model IEnumerable<Laptop.Models.Manufacturer>

<div class="sub-cate">
    <div class=" top-nav rsidebar span_1_of_left">
        <h3 class="cate">DANH MỤC</h3>
        <ul class="menu">
            <li class="item1">
                <a href="#">Nhà sản xuất<img class="arrow-img" src="~/Content/CustomLayoutCss/images/arrow1.png" alt="" /> </a>
                <ul class="cute">
                    @foreach (var item in Model)
                    {
                        <li class="subitem1"><a href="~/product/san-pham-@item.manufacturerName/@item.manufacturerID">@item.manufacturerName</a></li>
                    }
                </ul>
            </li>
            <li>
                <ul class="kid-menu">
                    <li><a href="~/Show/ShowHot">Sản phẩm hot</a></li>
                    <li><a href="~/Show/ShowOnSale">Sản phẩm khuyến mãi</a></li>
                    <li><a href="~/Show/ShowNew">Sản phẩm mới</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!--initiate accordion-->
    <script type="text/javascript">
        $(function () {
            var menu_ul = $('.menu > li > ul'),
                   menu_a = $('.menu > li > a');
            menu_ul.hide();
            menu_a.click(function (e) {
                e.preventDefault();
                if (!$(this).hasClass('active')) {
                    menu_a.removeClass('active');
                    menu_ul.filter(':visible').slideUp('normal');
                    $(this).addClass('active').next().stop(true, true).slideDown('normal');
                } else {
                    $(this).removeClass('active');
                    $(this).next().stop(true, true).slideUp('normal');
                }
            });

        });
    </script>
    <div class="clearfix"> </div>
</div>