
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/Layout1.cshtml";
}

<div class="row mg-30">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading al-center">
                <h3>Giới thiệu</h3>
            </div>
            <div class="panel-body">
                <div class="row mg-10 al-center">
                    <p>
                        HOÀNG PHƯƠNG Computer là cửa hàng điện tử chuyên cung cấp các loại laptop của các hãng nổi tiếng như: Apple, Dell, Sony, Asus, Hp,...<br />
                        Đến với chúng tôi bạn hoàn toàn có thể yên tâm với chất lượng sản phẩm và dịch vụ bảo hành.
                        Cách thức đặt hàng qua mạng dễ dàng và thanh toán ngay khi được giao hàng.
                        Giao hàng trên toàn quốc.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>  
