
@{
    Layout = "~/Views/Layout/CustomLayout.cshtml";
    ViewBag.Title = "RegisterNotify";
}
<div class=" single_top">
    <div class="row mg-30">
        <div class="panel-group">
            <div class="panel panel-success">
                <div class="panel-heading al-center">
                    <h3>Đăng Ký Thành Công !</h3>
                </div>
                <div class="panel-body">
                    <div class="row mg-10 al-center text-center">
                        <p>
                            Đăng ký thành công ! Hãy vào <a href="https://mail.google.com">gmail</a>
                            hoặc <a href="http://www.mail.yahoo.com">yahoo mail</a> để kích hoạt tài khoản của bạn.
                        </p>
                        @Html.ActionLink("Trở về trang chủ", "Browse", "Account")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>