<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/CustomLayoutCss/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!--theme-style-->
    <link href="~/Content/CustomLayoutCss/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!--//theme-style-->
    <script src="~/Content/CustomLayoutCss/js/jquery.min.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />
    @RenderSection("scripts", required: false)
</head>
<body>
    <!--header-->
    <header class="header">
        <div class="top-header">
            <div class="container">
                <div class="top-header-left">
                    <ul class="support">
                        <li><a href="#"><label> </label></a></li>
                        <li><a href="#">24x7 live<span class="live"> support</span></a></li>
                    </ul>
                    <ul class="support">
                        <li class="van"><a href="#"><label> </label></a></li>
                        <li><a href="#">Free shipping <span class="live">on order over 500</span></a></li>
                    </ul>
                    <div class="clearfix"> </div>
                </div>
                @*<div class="top-header-right">
                        <div class="down-top">
                            <select class="in-drop">
                                <option value="English" class="in-of">English</option>
                                <option value="Japanese" class="in-of">Japanese</option>
                                <option value="French" class="in-of">French</option>
                                <option value="German" class="in-of">German</option>
                            </select>
                        </div>
                        <div class="down-top top-down">
                            <select class="in-drop">
                                <option value="Dollar" class="in-of">Dollar</option>
                                <option value="Yen" class="in-of">Yen</option>
                                <option value="Euro" class="in-of">Euro</option>
                            </select>
                        </div>

                        <div class="clearfix"> </div>
                    </div>*@
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="bottom-header">
            <div class="container">
                <div class="header-bottom-left">
                    <div class="logo">
                        <a href="~/"><img src="~/Content/CustomLayoutCss/images/logo.png" alt=" " /></a>
                    </div>
                    <div class="search">
                        <input type="text" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}">
                        <input type="submit" value="SEARCH">
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="header-bottom-right">
                    @if (HttpContext.Current.User.Identity.IsAuthenticated)
                    {
                        <div class="account"><a href="~/Account/Manager"><span> </span>YOUR ACCOUNT</a></div>
                    }
                    else
                    {
                        <ul class="login">
                            <li><a href="~/Account/Login"><span> </span>LOGIN</a></li> |
                            <li><a href="~/Account/Register">SIGNUP</a></li>
                        </ul>
                    }
                    @{Html.RenderAction("CartSummary", "Shopping");}
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </header>
    <!---->
    <div class="container">
        @RenderBody()
        <!--danh mục menu-->
        @Html.Action("MenuPartial", "Manufacturer")
        <!---->
    </div>
    <!---->
    <div class="footer">
        <div class="footer-top">
            <div class="container">
                <div class="latter">
                    <h6>NEWS-LETTER</h6>
                    <div class="sub-left-right">
                        <form>
                            <input type="text" value="Enter email here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter email here';}" />
                            <input type="submit" value="SUBSCRIBE" />
                        </form>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="latter-right">
                    <p>FOLLOW US</p>
                    <ul class="face-in-to">
                        <li><a href="#"><span> </span></a></li>
                        <li><a href="#"><span class="facebook-in"> </span></a></li>
                    </ul>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="footer-bottom-cate">
                    <h6>HÃNG SẢN XUẤT</h6>
                    <ul>
                        <li><a href="/product/san-pham-DELL/1">DELL</a></li>
                        <li><a href="/product/san-pham-ASUS/2">ASUS</a></li>
                        <li><a href="/product/san-pham-VAIO/3">VAIO</a></li>
                        <li><a href="/product/san-pham-ACER/4">ACER</a></li>
                        <li><a href="/product/san-pham-MACBOOK/5">MACBOOK</a></li>
                        <li><a href="/product/san-pham-HP/6">HP</a></li>
                        <li><a href="/product/san-pham-Lenovo/7">Lenovo</a></li>
                    </ul>
                </div>
                <div class="footer-bottom-cate bottom-grid-cat">
                    <h6>DANH MỤC SẢN PHẨM</h6>
                    <ul>
                        <li><a href="/Show/ShowHot">Sản phẩm hot</a></li>
                        <li><a href="/Show/ShowOnSale">Sản phẩm khuyến mãi</a></li>
                        <li><a href="/Show/ShowNew">Sản phẩm mới</a></li>
                    </ul>
                </div>
                <div class="footer-bottom-cate">
                    <h6>HÃNG SẢN XUẤT</h6>
                    <ul>
                        <li><a href="/product/san-pham-DELL/1">DELL</a></li>
                        <li><a href="/product/san-pham-ASUS/2">ASUS</a></li>
                        <li><a href="/product/san-pham-VAIO/3">VAIO</a></li>
                        <li><a href="/product/san-pham-ACER/4">ACER</a></li>
                        <li><a href="/product/san-pham-MACBOOK/5">MACBOOK</a></li>
                        <li><a href="/product/san-pham-HP/6">HP</a></li>
                        <li><a href="/product/san-pham-Lenovo/7">Lenovo</a></li>
                    </ul>
                </div>
                <div class="footer-bottom-cate cate-bottom">
                    <h6>ĐỊA CHỈ</h6>
                    <ul>
                        <li>Hoàng Phương Computer</li>
                        <li>392, Hoàng Diệu 2, Linh Trung,</li>
                        <li>Thủ Đức,</li>
                        <li>Tp Hồ Chí Minh</li>
                        <li class="phone">PH: 0988668866</li>
                        <li class="phone">EM: <a href="mailto:hoangphuongcomputer@gmail.com">hoangphuongcomputer@gmail.com</a></li>
                        <li class="temp"> <p class="footer-class">Design by <a href="#">TT</a> </p></li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</body>
</html>

