@using Laptop.Utils
@model IEnumerable<Laptop.Models.Product>

@{
    Layout = "~/Views/Layout/CustomLayout.cshtml";
}
<div class="women-product">
    <div class=" w_content">
        <div class="women">
            <a href="#"><h4>@ViewBag.Title - <span>@Model.Count() sản phẩm</span> </h4></a>
            <ul class="w_nav">
                <li>Sort : </li>
                <li><a class="active" href="#">popular</a></li> |
                <li><a href="#">new </a></li> |
                <li><a href="#">discount</a></li> |
                <li><a href="#">price: Low High </a></li>
            </ul>
            <div class="clearfix"> </div>
        </div>
    </div>

    @foreach (var item in Model)
    {
        <div class="grid-product">
            <div class="product-grid">
                <div class="content_box">
                    <a href="~/ProductDetail/Details/@item.productID">
                        <div class="left-grid-view grid-view-left">
                            <img src="~/Upload/Images/Products/@item.imageSrc" class="img-responsive watch-right" alt="" />
                            <div class="mask">
                                <div class="info">Quick View</div>
                            </div>
                        </div>
                    </a>
                    <h4><a href="~/ProductDetail/Details/@item.productID">@item.productName</a></h4>
                    <h5>Giá: <span class="actual">@StringUtil.convertPrice(item.unitPrice)</span></h5>
                </div>
            </div>
        </div>
    }
</div>
